<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @point.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @point.lon %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @point.timestamp %>
</p>

<p>
  <strong>Hdop:</strong>
  <%= @point.hdop %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @point.altitude %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @point.speed %>
</p>

<p>
  <strong>Bearing:</strong>
  <%= @point.bearing %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @point.profile_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @point.user_id %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
